@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@309&display=swap');

.playwrite-nz-basic {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 310;
  font-style: normal;
  color: rgba(213, 63, 63, 1);
}

body {
  min-height: 100vh;
  padding: 20px;
  background-image: url(1.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.flex-container {
  display: flex;
}